

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["page.Home.Title"]</h1>
    <p>@localizer["page.Home.Content.a"] <a target="_blank" href="https://www.kaizentech.net/">@localizer["page.Home.Content.p"]</a>.</p>
</div>
